.star-wars-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.star-wars-text {
  font-family: 'Star Jedi', sans-serif;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}